################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExamPractice/.vs/ExamPractice/FileContentIndex/04242a17-4aeb-4971-87bf-fcfe6e378ace.vsidx
